body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.list-template {
  display: none;
}

.ui-loading .indicator {
  display: none;
}
  .ui-loading .indicator.loading {
    display: block;
  }

.no-badge {
  border-radius: 0px;
  background-color: #cc0000;
}
.badge-dst {
  background-color: #59A4E6;
}

.badge-green {
  background-color: #00aa00;
}

.ui-right{
  float: right;
}

.form-control-auto-height {
  height: auto;
  padding: 12px 12px 0px;
}

.ui-button-block {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0px 6px 12px 0px;
  font-weight: normal;
  cursor: pointer;
}
  .ui-button-block input{
    opacity: 0;
    left: -20px;
    position: absolute;
  }

.ui-button-block-selected {
  background: #eee;
  font-weight: 700;
}

.file-group {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
  line-height: 100px;
  cursor: pointer;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

  .file-group .ui-file-label {
    font-weight: normal;
  }

  .file-group-build {
    width: 100%;
  }

  .file-group label {
    display: block;
    text-align: center;
  }

  .file-group .file-upload-input, 
  .file-group .company-logo-input, 
  .file-group .visitor-avatar-input {
    width: 80px;
    opacity: 0;
    top: 0;
    position: absolute;
  }
  .file-group .file-upload-remove, 
  .file-group .company-logo-remove, 
  .file-group .visitor-avatar-remove {
    position: absolute;
    top: 0px;
    right: 5px;
    line-height: 22px;
    cursor: pointer;
    display: none;
  }

  .file-group.ready .file-upload-remove, 
  .file-group.ready .company-logo-remove, 
  .file-group.ready .visitor-avatar-remove {
    display: block;
  }

  .file-group.ready .file-upload-remove, 
  .file-group.ready .company-logo-remove, 
  .file-group.ready .visitor-avatar-remove {
    color: #cc0000;
  }
  .file-group.ready .glyphicon-plus {
    display: none;
  }

.glyphicon-icon-right { 
  margin-left: 5px;
}

.list-group-highlight li.list-group-item:hover {
  background: #fafafa;
}

.glyphicon-remove-width-input {
  line-height: 34px;
  color: #cc0000;
  cursor: pointer;
}
.ui-template {
  display: none;
}
.form-group-no-data {
  display: none;
}
.clear {
  clear: both;
  line-height: 1px;
  height: 1px;
  display: block;
}
.ui-label-block {
  display: block;
}
.ui-notice {
  color:#666;
}
  .ui-notice-date{
    color:#555;
  }
  .ui-notice-padding {
    padding: 5px 0px;
  }

.btn-download {
  padding: 10px;
  border: 1px solid #eee;
  width: 100%;
}

body.download {
  padding: 50px 0px;
}

.download .main {
  padding: 15px;
  text-align: center;
}
  .download .ui-release-notes {
    margin: 0px auto;
    text-align: left;
    color: #444;
  }

.glyphicon-app-big {
  font-size: 26px;
  margin: 0px auto;
  position: absolute;
  width: 200px;
  line-height: 200px;
  color: #5aa5e6;
}

.ui-qr-code {
  width: 200px;
  max-width: 100%;
  text-align: center;
  margin: 0px auto;
}

.list-group-item-customized {
  padding: 0px;
  margin: 0px;
  border: 0px none;
  color: #666;
}
.file-group .build-binary-input {
  width: 100%;
}
.ui-form-group-image-container {
  position: relative;
}
.btn-group-language {
  margin: 0px 0px 15px;
}
.ui-label-block {
  display: block;
}

.ui-pager { clear:both; padding: 0px 0px; font-size: 1.5rem; }
.ui-pager li,
.ui-pager span,
.ui-pager a { display:inline-block; padding:2px 8px; margin-right:1px; border:1px solid #ccc; text-decoration: none; }

.ui-pager li:hover,
.ui-pager span:hover,
.ui-pager a:hover, 
.ui-pager .current{ color:#333; background:#eee; }